html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --blanco1: #ededeb;
  --blanco2: #f7f7f5;
  --naranja: #c79c55;
  --rosa: #f6e5f3;
  --maseta: #a95a43;
}

main {
  width: 100vw;
  height: 1300px;
  background: linear-gradient(to right, var(--blanco1), var(--blanco2));
}
/* Pie de pagina */
footer {
  width: 100vw;
  background-color: #a18e8f;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Formulario */
.formulario {
  width: 98vw;
  background-color: var(--naranja);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin-top: 15px;
}
.areaTexto {
  display: flex;
  flex-direction: column;
  width: 90vw;
}
/* ------------------------ */
/* Flecha */
.contenedor {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 99;
  opacity: 0;
}
.mostrar {
  opacity: 1;
}
/* ------------------------ */
