html {
  scroll-behavior: smooth;
}

:root {
  --blanco1: #ededeb;
  --gris: #808080;
  --naranja: #c79c55;
  --rosa: #f6e5f3;
  --maceta: #a95a43;
  --azul: #072af5;
}
.logo {
  width: 100px;
}
.iconHamm {
  width: 60px;
}
#nosotros {
  background: url(./assets/Placard.jpeg) 50% 0% fixed;
  background-size: cover;
}
footer {
  background: url(./assets/tablas-quemadas.jpg) 50% 50% fixed;
  background-size: cover;
}
.navbar-toggler-icon {
  background-image: url(./assets/pngeggFill.png);
}
.bg-light {
  background-color: var(--rosa) !important;
}
.tab:hover {
  border: thin solid var(--gris) !important;
}
.titulo {
  color: var(--azul) !important;
}
/* Flecha */
.contenedor {
  width: 50px;
  height: 50px;
  background-color: var(--maceta);
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 99;
  opacity: 0;
}
.mostrar {
  opacity: 1;
}
